@import url("/css/satoshi.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000114;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satoshi-Bold";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
